<ion-header>
        <ion-navbar color="primary">
          <ion-title>ToDo List</ion-title>
        </ion-navbar>
      </ion-header>
      
      <ion-content padding>
        <h1>Terminados</h1>
        <ion-grid *ngIf="( _listaService.listas | pendientes:true).length === 0">
                        <ion-row>
                            <ion-col class="text-center caja-vacia" >
                                <ion-icon class="icono-grande" name="sunny"></ion-icon>     
                                <p>No hay ninguna Lista</p>
                            </ion-col>    
                        </ion-row>
                </ion-grid>
    
        <ion-card *ngFor="let lista of _listaService.listas | pendientes:true; let i = index">
            <ion-item color="dark" (click)="verDetalle(lista, i)" >
                {{lista.nombre}}
                <ion-note item-right>
                  {{lista.items.length}} items
                </ion-note>
            </ion-item>
            <ion-list>
               <ion-item  (click)="verDetalle(lista, i)" *ngFor="let item of lista.items | slice:0:2">
                <ion-icon *ngIf="!item.completado" name="square-outline"></ion-icon>                  
                <ion-icon *ngIf="item.completado" name="checkbox-outline"></ion-icon>
                {{item.nombre}}
               </ion-item>                             
            </ion-list>
            <ion-item class="text-center" *ngIf="lista.items.length >2">
              <ion-icon color="primary" name="arrow-dropdown" md="md-arrow-dropdown"></ion-icon>
            </ion-item>
        </ion-card>



        <ion-fab right bottom>
                <button (click)="irAgregar()" ion-fab mini><ion-icon name="add"></ion-icon></button>
        </ion-fab>
    </ion-content>
      